:root {
  --bg: #000818;
  --bgSoft: #2d2b42;
  --text: #ffffff;
  --textSoft: #e5e5e5
  --btn: #3673fd
  --title: #73cd07;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  /* background: #000818; */
  /* background: linear-gradient(#ffffff) 100%, (#00b633) 100%,  ; */
  /* background: rgb(0, 35, 159);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 100%,
    rgba(0, 182, 51, 1) 100%,
    rgba(115, 205, 7, 1) 100%,
    rgba(10, 37, 134, 1) 80%,
    rgba(0, 35, 159, 1) 100%); */
  background-color: var(--bg);
  color: var(--text);
  font-family: 'Poppins', sans-serif;
  font-weight: 500; /* Medium weight */
  font-size: 18px;
}

.title {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 18px;
}

/* NAVBAR CSS */


a {
  text-decoration: none;
  color: inherit;
}

.container{
  /* background-color:blue; */
width: 1536px;
margin: auto;
padding-left: 50px;
padding-right: 50px;
min-height: 100vh;
display: flex;
flex-direction: column;
justify-content: space-between;
}

@media(max-width: 1536px){
  .container{
    width: 1366px;
  }
}

@media(max-width: 1366px){
  .container{
    width: 1280px;
  }
}

@media(max-width: 1280px){
  .container{
    width: 1024px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media(max-width: 1024px){
  .container{
    width: 768px;
  }
}

@media(max-width: 640px){
  .container{
    width: 475px;
  }
}

@media(max-width: 768px){
  .container{
    width: 640px;
  }
}

header{
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* #headerLogo{

} */

#links{
  display: flex;
  align-items: center;
  gap: 10px;
}


#mobileButton,
#mobileLinks{
display: none;
}

@media (max-width: 768px){
  #links{
    display: none;
  }


  #mobileButton{
    display: block;
    cursor: pointer;
    font-size: 30px;
    font-weight: bold;
  }


  #mobileLinks{
  position: absolute;
  top: 100px;
  right: 0;
  width: 50%;
  height: calc(100vh-100px);
  /* background-color: (--bg); */
  background-color: red;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
}


/* END OF THE NAVBAR CSS */


/* ABOUT PAGE CSS */

.aboutContainer{
display: flex;
gap: 100px;
}


#textContainer{
  flex: 1;
}


#aboutLogo{
  width: 500px;
  height: 50px;
  position: relative;
}
#buttons{
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 18px;
  padding: 15px;
  cursor: pointer;
  border: none;
  border-radius: 15px;
  width: 330px;
  height: 55px;
  /* backdrop-filter: blur(10px); */

}