:root {
  --bg: #000818;
  --text: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif !important;
}

body {
  background-color: var(--bg);
  color: var(--text);
  font-weight: 500 !important;
  font-size: 18px !important;
  background-repeat: no-repeat;
  background-position: center;
}

.title {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  color: #73cd07;
  font-weight: bold;
  text-align: center;
}

.about {
  background-image: url(/securityImg.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
  color: inherit;
}
